.fl {
    float: left;
}
.fr {
    float: right;
}
.rl{
    position: relative;
}
.oh{
    overflow: hidden;
}
.n-h2{
    font-size:18px;
    color:#535759;
    line-height:1;
}
.n-h3{
    font-size:16px;
    color:#535759;
    line-height:1;
}
.n-h4{
    font-size:14px;
    color:#535759;
    line-height:1;
}
.n-h5{
    font-size:12px;
    color:#535759;
    line-height:1;
}
.required{
    padding-left: 5px;
    color: #FF0100;
}
input.error, select.error {
    border-color: #FF0100 !important;
}
input.ok, select.ok{
    border: solid 1px #007867 !important;
}
img.up{
    transform: rotate(180deg);
}
/* 样式 */
.n-wrapping{
    margin: 0 auto;
    width: 750px;
    display: none;
    text-align: left;
}
.n-wrapping input, .n-wrapping select{
    width: 98%;
    height: 30px;
    text-indent: 10px;
    font-size: 14px;
    border-radius:2px;
    border: 1px solid #dddddd;
    background: #ffffff;
    box-sizing: border-box;
}
.n-wrapping input:focus, .n-wrapping select:focus{
    border: solid 1px #105ea0;
}
.n-main{
    padding: 7px;
    background:#E4E3DD;
    border-radius:6px;
}
.n-card-i{
    margin: 0;
    padding-bottom: 0px;
}
.n-main .n-section:last-child{
    padding-bottom: 20px;
    margin: 0 0 0px;
}
.n-section{
    padding: 20px 15px;
    background: #ffffff;
    border-radius: 6px;
}
.n-submit-box{
    overflow: hidden;
}
.n-cancel{
    display: inline-block;
    width:135px;
    height:35px;
    background: #DCDCDC;
    border: 1px solid #BFBFBF;
    border-radius: 6px;
    font-size: 15px;
    color: #393939;
    letter-spacing: 0;
    line-height:35px;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    font-weight: bold;
}
.n-cancel:hover{
    color: #535759;
    background-color: #eee;
}
.n-submit{
    font-weight: bold;
    display: inline-block;
    width:100%;
    height:35px;
    border-radius: 6px;
    font-size: 15px;
    letter-spacing: 0;
    line-height:35px;
    text-align: center;
    color: #fff;
    border: solid 1px #ccc;
    background-color: #eee;
    cursor: default;
}
.n-submit-ok {
    padding: 0 !important;
    background-color: #f15352 !important;
    height: 40px !important;
    line-height: 40px;
}
.n-submit-ok:hover{
    background-color: #00948a;
    color: #fff;
    outline: 0;
    border: solid 1px #105ea0;
}
.n-form{
    margin-top: 10px;
    padding: 10px 0;
}
.n-form-item{
    float: left;
    width: 50%;
    height: 95px;
}
.n-form-item .clearfix{
    width:90%;
}
.n-form-item-title{
    margin-bottom: 15px;
    height: 20px;
    line-height: 20px;
    font-size: 15px !important;
}
.n-form-item-error .n-form-item-title-error{
    display: inline-block;
}
.n-form-item-title-error{
    display: none;
    margin-left: 10px;
    width: 11px;height: 11px;
    line-height: 20px;
}
.n-form-item-ok .n-form-item-title-ok{
    display: inline-block;
}
.n-form-item-title-ok{
    display: none;
    margin-left: 10px;
    width: 11px;height: 11px;
    line-height: 20px;
}
.n-form-item-ok input, .n-form-item-ok select{
    border: 1px solid #007867 !important;
}
.n-form-item-error .n-error-tips {
    display: block;
}
.n-error-tips {
    display: none;
    margin-top: 5px;
    font-size: 12px;
    color: #FF0100;
}
.n-s-card{
    margin-left: 5px;
    height: 28px;
    border: 1px solid #DDDDDD;
    background-color: #ffffff;
}
.n-s-card img{
    width: auto;
    height: 100%;
}
.n-bold{
    font-weight: 600;
}
.n-fullname.clearfix input, .n-fullname.clearfix select{
    width:145px;
}
.n-fullname div{
    width: 145px;
}
.n-fullname div:first-child{
    margin-right: 20px;
}
.n-form-item .clearfix.n-cvv{
    width: 100%;
}
.n-cvv div:nth-child(1){
    margin-top: 2px;
}
.n-cvv div:nth-child(2){
    width: 60px; margin:2px 8px 0;
}
.n-cvv div:nth-child(3){
    width: 200px;font-size: 12px;
}
.n-cvv .mCvv{
    width: 60px;
}
.n-cvv img{
    width:56px;
}
.n-another .n-form-item{
    height: 85px;
}
.n-another .n-form-item-title{
    margin-bottom: 10px;
}
.billing{
    font-size: 15px;
    color: #535759;
    transition: 0.2s;
}
.one{
    margin: 0 0 8px;
}
.one img{
    display: none;
    width: 14px;
    height: 8px;
    margin: 10px auto 0;
    transition: .2s;
    cursor: pointer;
}
.one.sho{
    padding-bottom: 10px;
}
.one.sho img{
    display: block;
}
.n-bag{
    margin: 0 0 8px;
}
.n-bag .fl{
    width: 80%;
    padding-left: 24px;
    line-height: 21px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #595959;
}
.n-bag .fr{
    font-size: 15px;
    color: #E60100;
}
.payment-logo{
    overflow: hidden;
}
.payment-logo .n-s-card{
    border-radius: 6px;
    height: 35px;
}
.indicate{
    font-size: 13px;
    color: #595959;
}
.mm, .yy{
    width: 60px !important;
}
.card_kind_box div{
    width:100%;
}
.payment-logo-mini{
    display: none;
    float: right;
}
.payment-logo-mini .n-s-card{
    height: 20px;
}

#wpay_infos{padding:15px 37px;background:#F2F2F2;}
#wpay_infos p{padding:3px 0;}
#wpay_cardt{background:#eee;text-align:left;padding:2px 0;padding-left:168px;}
#wpayment_sub span.c_name{width:140px;float:left;padding-right:30px;line-height:24px;text-align:right;}
#wpayment_sub .inpv{display:block;padding:7px 0;}
#wpayment_sub .inpv input{padding:2px 5px;}
.subinfov{padding:7px 30px;background:#36579B;border:none;color:#fff;border-radius:4px;margin:11px;}
.nonullnote{color:red;display:none;}
#loadsub{padding:10px 50px;text-align:center;display:none;}
.cvv_cons{display:block;}
#smallcard{position:relative;display:inline-block;}
#bigvvcard{position:absolute;top:-11px;left:60px;}
.bot_conv{width:500px;height:50px;background:#fff;margin:0 auto;position:relative;margin-top:90px;color:#737171;}
.bot_conv a{color:#737171;font-size:12px;}
.orderpayed{padding:20px;background:#F5D8D8;font-weight:bold;text-align:center;}

/* 移动 */
@media screen and (max-width: 800px) and (min-width: 200px){
    .n-wrapping{
        margin: 0;
        padding-bottom: 30px;
        width: 100%;
    }
    .n-form-item{
        float: none;
        width: 100%;
    }
    .n-fullname div{
        width: 48%;
        margin-right: 0 !important;
    }
    .n-fullname div:last-child{
        float: right;
    }
    .n-fullname input, .n-fullname select{
        width: 98% !important;
    }
    .n-cvv{
        display: flex;
    }
    .n-cvv div{
        float: none;
    }
    .n-cvv div:nth-child(1){
        flex: 0 0 62px;
    }
    .n-cvv div:nth-child(2){
        flex: 0 0 60px;
    }
    .n-cvv div:nth-child(3){
        flex: 1 1 20px;
    }
    .mCardNumber{
        width: 100% !important;
    }
    .n-submit-box{
        text-align: center;
    }
    .indicate{
        display: none;
    }
    .payment{
        display: none;
    }
    .n-form{
        margin-top: 0;
        padding: 0;
    }
    .n-form-item{
        height: 80px;
    }
    .n-form-item-title{
        margin-bottom: 5px;
    }
    .n-another input, .n-another select{
        width: 100% !important;
    }
    .n-form-item .clearfix{
        width: 100%;
    }
    .n-bag .fl {
        width: 70%;
    }
}