.oh{
    overflow:hidden
}
.mt5{
	margin-top:5px;
}
.product-thumb .price{
margin:10px 0px;
}
.product-thumb .product-name{
margin:10px 0px;
}
.product-thumb .caption p.text-left {
margin: 0 0 10px;
}
.product-thumb:hover .cart-wrapper {
bottom: 15px;
}
.line2{
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
white-space:pre-wrap;
word-wrap:break-word;
}
#product-product h1 {
margin-top: 25px;
margin-bottom:20px;
}
.stars-box{
margin-top:25px
}
.lessonCard-box {
margin: 20px 35px 25px 35px;
}
/*课时*/
.lessonCard-select{
border-radius: 10px;
width:132px;
height:40px;
border:1px solid #ddd;
float:right;
font-size:16px;
padding-left:10px;
margin-right:20px;
margin-top:-10px;
}
.lessonCard-price-red{
background:#fff;
font-size:18px;
width:132px;
height:40px;
color: #ff7b73;
background-color: rgba(255,123,115,.2)
}
.titlebg{
background:#f3f3f3;
}
.teacherCard-bar h3{
margin: 25px 35px 20px 35px;
}
.col-sm-95{
width:95%;
margin:30px auto;
}
.table-bordered td{
padding:12px!important;
}
.detail-left img.img-responsive{
width: 400px;
height: 400px;
}
.pad0{
padding:0px;
}
.m15{
margin:15px auto;
}
.aboutMe{
/*height:300px;
width:570px;*/
}
/*简介*/
.teacherInfo{
margin:25px auto;
}
.teacherCard-middle{
margin:20px;
}
.teacherCard-name{
margin-bottom: 20px;
font-size: 23px;
font-weight: 500;
color: #333;
}
.teacherCard-personalInfo {
margin-bottom: 15px;
font-size: 14px;
line-height: 25px;
text-align: left;
color: #777;
}
.redbar {
width: 35px;
border-bottom: 2px solid #32e696 ;
border-radius: 1px;
margin:20px 0;
}
.aboutMe-content {
margin: 0px 20px 20px 20px;
line-height:24px;
}
.line4{
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
overflow: hidden;
white-space:pre-wrap;
word-wrap:break-word;
}
.language {
font-size: 16px;
text-align: left;
color: #333;
}
.mt20{
margin-top:20px
}
.mr20{
margin-right:20px
}
.fn{
float:none
}
/*统计信息*/
.statistics {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
}
.statistic {
	width: 192px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.statistic-number {
	height: 42px;
	margin-bottom: 5px;
	font-size: 36px;
	font-weight: 100;
	color: #333;
}
.statistic-label {
	font-size: 14px;
	font-weight: 300;
	color: #333;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.progress-row {
	width: 135px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.progressBar-col, .progressBar-row {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.progressBar-col {
	border: .5px solid #ddd;
	border-radius: 4px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	flex-direction: column-reverse;
}
.progressBar-col-text, .progressBar-row-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0;
	color: #777;
}
.ProgressBar-col-number-bg {
	margin-bottom: 5px;
	font-size: 12px;
	color: #777;
}

.bar-box-col, .bar-box-row {
	position: absolute;
	overflow: hidden;
}
.bar-box-col {
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.progressBar-col-bar, .progressBar-row-bar {
	overflow: hidden;
	display: flex;
	align-items: center;
	font-size: 12px;
	color: #fff;
}
.progressBar-col-bar {
	min-height: 1px;
	flex-direction: column;
	justify-content: flex-end;
}
.progressBar-col-number {
	margin-bottom: 5px;
}
.progress-col {
	height: 92px;
	margin-top: 27px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.progressBar-col, .progressBar-row {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.progressBar-row {
	border: .5px solid #ddd;
	border-radius: 11px;
	flex-direction: row;
}
.progressBar-row-text {
	width: 40px;
}
.ProgressBar-row-number-bg {
	margin-left: 5px;
	font-size: 12px;
	color: #777;
}
.bar-box-col, .bar-box-row {
	position: absolute;
	overflow: hidden;
}
.bar-box-row {
	border-top-right-radius: 11px;
	border-bottom-right-radius: 11px;
	bottom: 0;
}
/*日历*/
.teacher-schedule {
	padding: 20px 20px 10px;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0 7px 25px 0 rgba(0,0,0,.1);
	cursor: pointer;
}
.small-schedule {
	position: relative;
	min-height: 180px;
}
.small-schedule-days {
	display: flex;
	margin-bottom: 5px;
	padding-left: 70px;
}
.small-schedule-day {
	flex: 1 1;
	font-size: 12px;
	font-weight: 300;
	color: #333;
	text-align: center;
}
.small-schedule-hours {
	display: flex;
	height: 156px;
	/*添加*/
	border-right:1px solid #ddd;
}
.small-schedule-range {
	display: flex;
	width: 70px;
	flex-direction: column;
	align-items: center;
	border: 1px solid #ddd;
	border-right: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.small-schedule-range>p {
	flex: 1 1;
	display: flex;
	font-size: 12px;
	font-weight: 300;
	color: #333;
	align-items: center;
	justify-content: center;
	padding: 0px;
	margin: 0px;
}
.small-schedule-hour {
	flex: 1 1;
	display: flex;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.small-schedule-section {
	flex: 1 1;
	flex-direction: column;
}
.small-schedule-cell {
	height: 26px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.tooltip-container-box {
	display: inline-block;
}
.tooltip-container {
	position: relative;
	display: -moz-flex;
	display: flex;
	width: 100%;
	height: 100%;
}
.small-schedule-cell-tooltip-ref {
	width: 100%;
	height: 100%;
}
.tooltip-reference {
	height: 100%;
	cursor: pointer;
}
.small-schedule-cell-active {
	/*height: 100%;
	width: 100%;*/
	background: #32e696;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:20px;
}
.small-schedule-timezone {
	margin-top: 8px;
	font-size: 10px;
	color: #777;
	text-align: center;
}
.small-schedule .small-schedule-section .small-schedule-cell:last-child {
border-bottom: 1px solid #ddd;
}
/*日历弹出框*/

.modal-block, .modal-overlay {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/*overflow-y: auto;*/
	z-index: 9999;
}
.modal-overlay {
	position: fixed;
	background: rgba(0,0,0,.5);
}

.modal-container {
    display: block;
    margin: 50px auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 55px 0 rgba(0,0,0,.3);
    overflow: hidden;
}
.modal-container {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 730px;
    background: #fff;
    z-index: 9999;
}
.MyCalendar.modal-body {
    padding: 0;
    /*overflow-y: hidden;*/
}
.MyCalendar {
    margin: 0;
    padding: 0;
	min-height: 300px;
	max-height:350px;
}
.modal-body {
    padding: 40px 30px 0;
    overflow-y: auto;
}
.booking-calendar-container {
    height: 100%;
}
.MyCalendar .booking-calendar-navigation, .MyCalendar .calendar-head-date {
    margin: 0 30px;
}
.booking-calendar-navigation {
    display: flex;
    position: relative;
    margin: 0 30px;
    padding: 20px 0;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.booking-calendar-date {
    position: absolute;
    left: 0;
    font-size: 16px;
}
.next-week, .prev-week {
    width: 36px;
    height: 36px;
    padding: 0;
    border: 1px solid #777;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.prev-week {
    margin-right: 8px;
}
.booking-calendar-close {
    position: absolute;
    right: 0;
    cursor: pointer;
}
.MyCalendar .booking-calendar-navigation, .MyCalendar .calendar-head-date {
    margin: 0 30px;
}
.calendar-head-date {
    display: flex;
    margin: 0 20px;
    padding: 12px 0;
    height: 46px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.calendar-head-date-container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}
.calendar-head-cell-blank {
	/*flex: 1 1;*/
	width:80px;
}
.calendar-head-cell {
	/*flex: 1 1;*/
	width:82px;
    justify-content: center;
    text-align: center;
}
.subhead {
    font-size: 14px;
}
.booking-calendar-body {
	height:300px;
   /* height: calc(100% - 126px);*/
	overflow-y: auto;
}
.windows .MyCalendar .calendar {
    padding-left: 30px;
    padding-right: 13px;
}
.MyCalendar .calendar {
    padding-left: 30px;
    padding-right: 30px;
}
.calendar {
    position: relative;
    margin: 0 auto;
    padding: 30px 20px 20px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    font-weight: 300;
}
.book-calendar-head {
    display: flex;
    margin: 0 auto 20px;
    max-width: 960px;
    width: 100%;
}
.book-calendar-labels {
    display: flex;
    flex: 1 1;
}
.book-calendar-labels {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
}
.book-calendar-labels>span {
    margin-right: 20px;
}
.book-calendar-labels>span {
    margin-right: 20px;
}
.book-calendar-hint {
    margin-right: 10px;
    font-size: 12px;
    color: #777;
}
.book-calendar-hint, .book-calendar-labels-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.book-calendar-hint {
    margin-right: 20px;
}
.book-calendar-hint {
    display: flex;
    margin-right: 20px;
    align-items: center;
    color: #777;
}
.caption {
    font-size: 12px;
}
.book-time-available {
    background-color: #32e696;
}
.book-time-available, .book-time-not-available, .book-time-selected {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.book-time-available {
    background-color: #32e696;
}
.book-by-others, .book-time-available, .book-time-not-available, .book-time-selected {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.book-by-others {
    background-color: #eee;
    background-image: repeating-linear-gradient(45deg,transparent,transparent 1px,#ccc 0,#eee 3px);
}

.book-time-not-available {
    background: #fff;
    border: 1px solid #777;
}
.book-time-selected {
    background-color: #cff1c2;
    background-image: repeating-linear-gradient(45deg,transparent,transparent 1px,#fff 0,#fff 3px);
}
.calendar-body {
    display: flex;
    border-radius: 6px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.calendar-time {
    flex: 1 1;
}
.caldendar-time-cell:first-child {
    /*visibility: hidden;*/
}
.caldendar-time-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    /*transform: translateY(-50%);*/
}
.subhead {
    font-size: 14px;
}
.calendar-cell-container, .calendar-week-day {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}
.calendar-week-day .calendar-cell-container:first-child {
    border-top: 0;
}
.calendar-cell-container {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.calendar-cell-container, .calendar-week-day {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}
.caption {
    font-size: 12px;
}
.MyCalendar .calendar-cell-actived {
    cursor: auto;
}
.calendar-cell-actived {
    background: #32e696;
    cursor: pointer;
}
.calendar-cell {
    flex: 1 1;
}
.calendar-cell-booked, .calendar-cell-frozen {
    background: #ccc;
    background-image: repeating-linear-gradient(60deg,transparent,transparent 2px,#eee 0,#eee 7px);
}
.minihintMobile, .minihintPc {
    background: #fff;
    border-radius: 4px;
    padding: 16px 30px;
}
.minihintMobile .hintContent, .minihintPc .hintContent {
    display: flex;
}
svg:not(:root) {
    overflow: hidden;
}
.hintContent span {
    color: #4d4d4d;
    font-size: 14px;
    line-height: 22px;
}
.modal-footer {
    height: 82px;
    padding: 0 30px;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: row;
	align-items: center;
	margin:0px auto;
	width: 100%;
}
.modal-footer button{
	margin:0px auto;
}
/*20210114 zxx添加 滚动条隐藏*/
.MyCalendar::-webkit-scrollbar{
	width:10px;
	height:10px;
	display: none; 
	/**/
}
/*20210114 zxx添加 滚动条样式 end*/

.mt40{
	margin-top:40px;
}