.italki-pannel {
    background: #fff;
    box-shadow: 0 1px 8px rgba(0,0,0,.1);
	border-radius: 8px;
	height: auto;
    overflow: hidden;
}
.lessonCard-box {
    margin: 20px 0px 0px 0px;
}
.margin0{
	margin:0px;
}
.ant-avatar {
    border: 1px solid #e9e9eb;
    width: 150px;
	height: 150px;
	margin:20px auto;
}
.ant-avatar>img {
    display: block;
    width: 100%;
    height: 100%;
}
.course_courseSection__QaUKy {
    padding:0 20px!important;
}
.course_courseTitle__wOXpn {
    margin-bottom: 10px;
    font-weight: 500;
}
.callout-small {
    font-size: 16px;
}
.course_courseTitle__wOXpn+div {
    margin-bottom: 10px;
}
.italki-blackbar {
    width: 15px;
    height: 1px;
    background:#32e696;
}
.subhead {
    font-size: 14px;
}
.course_show__2mLTy {
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
    color: #337ab7;
    font-weight: 500;
}
.lessonCard-active{
	border:1px solid #32e696;
}
.lessonCard-active .lessonCard-bar{
	background:#edfafa;
}
.booking-calendar-body{
	height:300px!important;
}
.calendar-cell-actived{
	cursor: pointer!important;
}
.calendar-cell-selected{
	background:#337ab7;
}
.tool {
    width: 247px;
    background: #fff;
    border: 1px solid #e9e9eb;
    border-radius: 33px;
    cursor: pointer;
    float:left;
    margin:0px 0px 20px 20px;
}

.tool.selected {
    background: rgba(76,209,208,.05);
    border: 1px solid #32e696;
}

.tool .tooltip-box {
    display: flex;
    justify-content: center;
    padding: 21px 0;
}
.tool .tooltip-box>span {
    padding: 0 4px 0 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.bordernone{
    border:0;
    border-radius:0;
}
.checkout-section .radio:hover {
    border: 2px solid #f32929;
    background-color: #fff3f3;
}
.checkout-section .radio.active {
    border: 2px solid #f32929;
}
.checkout-section .radio {
    position: relative;
    display: inline-block;
    border: 1px solid #d2d2d2;
    margin-right:20px;
    margin-bottom:20px;
}
.checkout-section .radio input {
    display: none;
}
.checkout-section .radio.active:after {
    display: block;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background: url(../../../image/catalog/selected-icon.png) no-repeat;
}
.inputcheck {
    width: 16px!important;
    height: 16px!important;
    margin: 2px 5px 0 0!important;
}
.f20 {
    font-size: 20px!important;
}
.mt60 {
    margin-top: 60px;
}
.mauto {
    margin: 0px auto;
}
/*20201028zxx add*/
.border-bottom{
    border-bottom:5px solid #1d4995;
}
.zfbox{
    border:3px solid #e1eaf0;
    border-radius:5px;
    margin:50px auto;
    height: 350px;
    overflow: hidden;
    width:1000px;
    text-align: center;
}
.zfmain{
    margin:80px auto 50px;
    margin:80px auto 50px;
    text-align:center;
    /*line-height: 64px;*/
}
.zfimg{
    display:inline-block
}
.zfimg img{
    width:64px;
    height:64px;
}
.zf20{
    font-size:20px;
    color:#707070;
    margin-left:10px;
    display:inline-block
}
.zf26{
    font-size:26px;
    color:#1db15d;
    padding:0px 10px;
}
.buttons{
    float: none;
    margin: 0px auto;
}
.btn-default:hover {
    color: #fff;
    background-color: #d4d4d4  ;
    border-color: #d4d4d4  
}
.mb60{
    margin-bottom:60px;
}
@media screen and (max-width: 768px) {
    .img-responsive {
    height:5rem;
    }
    .zfbox{
    border:none;
    width:95%;
    margin:0rem auto;
    }
    .zfmain{
    margin:5rem 0 3rem 0;
    }
    .mb60{
    margin-bottom:4rem;
    }
    .tips .btn{
    padding: 1.25rem 3rem;
    }
}
/*20201028zxx end*/